<div class="logo-container">
  <div class="logo"></div>
</div>

<main class="content" *ngIf="!workflowFinished; else end">
  <h1 style="margin-bottom: 4rem">
    Welcome to <span style="color: #008962">APPLIED BIOMATH</span> WIZARD
  </h1>
  <h2>Step: {{ currentStep }}</h2>
  <abm-dropdown
    label="Select an option"
    valueSelected="Bispecific Antibody"
    [options]="dataSource"
    [formControl]="control"
  ></abm-dropdown>

  <section class="actions">
    <button
      [ngClass]="{ visible: step === 1 }"
      mat-stroked-button
      color="primary"
      (click)="onBack()"
    >
      Back
    </button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="control.invalid"
      (click)="onNext()"
    >
      Next
    </button>
  </section>
</main>

<ng-template #end>
  <section class="ending">
    <h1>ABM Wizard over. You did great!</h1>
    <h3>OPTIONS SELECTED:</h3>
    <ul>
      <li *ngFor="let option of options; let i = index">
        <h5>OPTION {{ i + 1 }}: {{ option.option }}</h5>
      </li>
    </ul>
    <button mat-raised-button color="primary" (click)="onReset()">
      Run again
    </button>
  </section>
</ng-template>
