<div class="logo-container">
  <div class="logo"></div>
</div>

<input type="text" data-cy="editable-input">

<main class="content" *ngIf="!workflowFinished; else end">
  <h1 style="margin-bottom: 2rem">
    Welcome to <span style="color: #008962">Applied Biomath</span> WIZARD
  </h1>

  <abm-selection
    cy-selector="abm-selection"
    *ngIf="length >= 1"
    [selection]="getSelection()"
  ></abm-selection>

  <h2>Step: {{ currentStep }} - {{ title }}</h2>
  <!-- <abm-dropdown
    label="Select an option"
    valueSelected="Bispecific Antibody"
    [options]="dataSource"
    [formControl]="control"
  ></abm-dropdown> -->

  <abm-list
    cy-selector="abm-list"
    [formControl]="control"
    [options]="theOptions"
    [indexSelected]="indexSelected"
  ></abm-list>

  <section class="actions">
    <button
      cy-selector="button-back"
      mat-stroked-button
      color="primary"
      [ngClass]="{ visible: step === 1 }"
      (click)="onBack()"
    >
      Back
    </button>
    <button
      cy-selector="button-next"
      mat-raised-button
      color="primary"
      [disabled]="control.invalid"
      (click)="onNext()"
    >
      Next
    </button>
  </section>
</main>

<ng-template #end>
  <section class="ending">
    <h1>ABM Wizard over. You did great!</h1>
    <h3>OPTIONS SELECTED:</h3>
    <abm-selection
      *ngIf="length >= 1"
      [selection]="getSelection()"
    ></abm-selection>
    <button mat-raised-button color="primary" (click)="onReset()">
      Run again
    </button>
  </section>
</ng-template>
